body {
   margin: 10%;
   background: #f0f0f0;
}
table {
   border-collapse: collapse;
}
table, th, td {
   border: 1px solid #008000;
}
table.as1 {
   border-collapse: separate;
   border: 1px solid #ff0000;
   width: 300px;
   table-layout: fixed;
}
table.as2 td {
   border: 1px solid #0000ff;
   text-align: left;
   padding-left: 5px;
   width: 200px;
}
table.as3 td.first_td {
   border: none;
   text-align: right;
   padding-right: 10px;
   width: 100px;
}
table.as4 td th {
   border: 1px solid #008000;
}
th {
   background: #008000;
   color: #fff;
}
table.holografia {
   color: #323232;
   background: #ffffff;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 16px;
   line-height: 30px;
   border: none;
   text-align: center;
}
th.one {
   background: #7eabff;
   border: none;
   border-right: 2px dashed #ffffff;
}
th.one:last-child {
   border-right: none;
}
table.holografia td.two {
   border: none;
   border-left: 2px dashed #7eabff;
   border-top: 2px dashed #7eabff;
}


td.main {
   border: none;
   border-top: 2px dashed #7eabff;
   text-align: left;
}