body {
margin: 0;
padding: 0;
}

#container {
width: 750px;
margin-left: auto;
margin-right: auto;
border:1px solid black;
}

#header {
height: 150px;
background: #9CF;
}

#left {
width: 170px;
float: left;
background: #ABC;
}

#right {
width: 580px;
float: left;
background: #9FF;
}

#footer {
clear: both;
background: #999;
}

.column {
   width: 33.333%;
   float: left;
   text-align: center;
}

.szablon_wrapper {
   position: absolute;
   top: 40%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   font-family: Helvetica, sans-serif;
}

.szablon_h1 {
   font-size: 70px;
   text-transform: uppercase;
   letter-spacing: 3px;
}

.szablon_a {
   padding: 0 20px;
   text-decoration: none;
   font-size: 30px;
   color: black;
   transition: .4s ease-in-out;
   font-weight: 700;
   text-transform: uppercase;
   letter-spacing: 2px;
}

.szablon_a:hover {
   text-shadow: 10px 10px 5px #00BFCE, -10px -10px 5px #CE02C6;
}

